# https://docs.github.com/en/code-security/dependabot/dependabot-version-updates/configuration-options-for-the-dependabot.yml-file
version: 2
updates:

  # Maintain dependencies for GitHub Actions
  - package-ecosystem: "github-actions"
    # Workflow files stored in the default location of `.github/workflows`. (You don't need to specify `/.github/workflows` for `directory`. You can use `directory: "/"`.)
    directory: "/"
    schedule:
      interval: "weekly"
    open-pull-requests-limit: 10
    allow:
      # Allow both direct and indirect updates for all packages
      - dependency-type: "direct"
    ignore:
    - dependency-name: "*"
      update-types: ["version-update:semver-patch"]
    rebase-strategy: "auto"
    labels:
      - "dependencies"
    commit-message:
      prefix: ""

  # Maintain dependencies for pip
  # poetry is not a valid entry for package-ecosystem
  - package-ecosystem: "pip"
    directory: "/"
    schedule:
      interval: "weekly"
    open-pull-requests-limit: 10
    allow:
      # Allow both direct and indirect updates for all packages
      - dependency-type: "direct"
    ignore:
    - dependency-name: "*"
      update-types: ["version-update:semver-patch"]
    rebase-strategy: "auto"
    labels:
      - "dependencies"
    commit-message:
      prefix: ""