# nosetests --with-coverage --cover-erase --cover-package .

# .coveragerc to control coverage.py
[run]
branch = True

[report]
show_missing = True
precision = 2
omit =
        *__init__*
        tests/*
        main.py
        scratch.py
        setup.py


[html]
directory = coverage_html_report
