# nosetests --with-coverage --cover-erase --cover-package .

# .coveragerc to control coverage.py
[run]
source = toqito
branch = True

[report]
show_missing = True
precision = 2
omit =
        *__init__*
        */tests*
        *tests*
        virtualenvs/*

[html]
directory = coverage_html_report
