.DS_Store
.vscode
.python-version
.idea/
.coverage
*.dat
*.ipynb
*.hdf5
*.ipynb_checkpoints
*.jupyter_cache
_build
__pycache__/
docs/build/
toqito.egg-info/
dist/
build/
coverage.xml
jupyter_execute/
venv/*
docs/auto_examples/
docs/autoapi/
