*.vscode*
*.DS_Store
*.lock
*.idea
*.pdf
*pip-wheel-metadata/
main.py

# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# C extensions
*.so

# Distribution / packaging
.Python
env/
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
wheels/
*.egg-info/
.installed.cfg
*.egg

# PyInstaller
#  Usually these files are written by a python script from a template
#  before PyInstaller builds the exe, so as to inject date/other infos into it.
*.manifest
*.spec

# Installer logs
pip-log.txt
pip-delete-this-directory.txt

# Unit test / coverage reports
htmlcov/
.tox/
.coverage
.coverage.*
.cache
nosetests.xml
coverage.xml
*.cover
.hypothesis/

# Translations
*.mo
*.pot

# Django stuff:
*.log
local_settings.py

# Flask stuff:
instance/
.webassets-cache

# Scrapy stuff:
.scrapy

# Sphinx documentation
docs/_build/
docs/_build/doctest
docs/_build/doctrees
docs/_build/linkcheck

# PyBuilder
target/

# Jupyter Notebook
.ipynb_checkpoints

# pyenv
.python-version

# celery beat schedule file
celerybeat-schedule

# SageMath parsed files
*.sage.py

# dotenv
.env

# virtualenv
.venv
venv/
ENV/

# Spyder project settings
.spyderproject
.spyproject

# Rope project settings
.ropeproject

# mkdocs documentation
/site

# mypy
.mypy_cache/
docs/docs/_build/doctrees/environment.pickle
docs/docs/_build/linkcheck/output.json
docs/docs/_build/linkcheck/output.txt
docs/docs/_build/doctest/output.txt
docs/docs/_build/doctrees/environment.pickle
docs/docs/_build/doctrees/autoapi_members.doctree
docs/docs/_build/doctrees/code_of_conduct.doctree
docs/docs/_build/doctrees/contributing.doctree
docs/docs/_build/doctrees/getting_started.doctree
docs/docs/_build/doctrees/index.doctree
docs/docs/_build/doctrees/intro_tutorial.doctree
docs/docs/_build/doctrees/references.doctree
docs/docs/_build/doctrees/tutorials.doctree
docs/docs/_build/doctrees/tutorials.extended_nonlocal_games.doctree
docs/docs/_build/doctrees/tutorials.nonlocal_games.doctree
docs/docs/_build/doctrees/tutorials.state_distinguishability.doctree
docs/docs/_build/doctrees/tutorials.state_exclusion.doctree
docs/docs/_build/doctrees/tutorials.superdense_coding.doctree
docs/docs/_build/doctrees/tutorials.xor_quantum_value.doctree
docs/docs/_build/doctrees/autoapi/channel_metrics/index.doctree
docs/docs/_build/doctrees/autoapi/channel_metrics/channel_fidelity/index.doctree
docs/docs/_build/doctrees/autoapi/channel_metrics/completely_bounded_spectral_norm/index.doctree
docs/docs/_build/doctrees/autoapi/channel_metrics/completely_bounded_trace_norm/index.doctree
docs/docs/_build/doctrees/autoapi/channel_metrics/diamond_norm/index.doctree
docs/docs/_build/doctrees/autoapi/channel_metrics/fidelity_of_separability/index.doctree
docs/docs/_build/doctrees/autoapi/channel_ops/index.doctree
docs/docs/_build/doctrees/autoapi/channel_ops/apply_channel/index.doctree
docs/docs/_build/doctrees/autoapi/channel_ops/choi_to_kraus/index.doctree
docs/docs/_build/doctrees/autoapi/channel_ops/dual_channel/index.doctree
docs/docs/_build/doctrees/autoapi/channel_ops/kraus_to_choi/index.doctree
docs/docs/_build/doctrees/autoapi/channel_ops/partial_channel/index.doctree
docs/docs/_build/doctrees/autoapi/channel_props/index.doctree
docs/docs/_build/doctrees/autoapi/channel_props/choi_rank/index.doctree
docs/docs/_build/doctrees/autoapi/channel_props/is_completely_positive/index.doctree
docs/docs/_build/doctrees/autoapi/channel_props/is_herm_preserving/index.doctree
docs/docs/_build/doctrees/autoapi/channel_props/is_positive/index.doctree
docs/docs/_build/doctrees/autoapi/channel_props/is_quantum_channel/index.doctree
docs/docs/_build/doctrees/autoapi/channel_props/is_trace_preserving/index.doctree
docs/docs/_build/doctrees/autoapi/channel_props/is_unital/index.doctree
docs/docs/_build/doctrees/autoapi/channel_props/is_unitary/index.doctree
docs/docs/_build/doctrees/autoapi/channels/index.doctree
docs/docs/_build/doctrees/autoapi/channels/choi/index.doctree
docs/docs/_build/doctrees/autoapi/channels/dephasing/index.doctree
docs/docs/_build/doctrees/autoapi/channels/depolarizing/index.doctree
docs/docs/_build/doctrees/autoapi/channels/partial_trace/index.doctree
docs/docs/_build/doctrees/autoapi/channels/partial_transpose/index.doctree
docs/docs/_build/doctrees/autoapi/channels/realignment/index.doctree
docs/docs/_build/doctrees/autoapi/channels/reduction/index.doctree
docs/docs/_build/doctrees/autoapi/helper/index.doctree
docs/docs/_build/doctrees/autoapi/helper/channel_dim/index.doctree
docs/docs/_build/doctrees/autoapi/helper/cvx_kron/index.doctree
docs/docs/_build/doctrees/autoapi/helper/expr_as_np_array/index.doctree
docs/docs/_build/doctrees/autoapi/helper/np_array_as_expr/index.doctree
docs/docs/_build/doctrees/autoapi/helper/npa_hierarchy/index.doctree
docs/docs/_build/doctrees/autoapi/helper/update_odometer/index.doctree
docs/docs/_build/doctrees/autoapi/matrices/index.doctree
docs/docs/_build/doctrees/autoapi/matrices/clock/index.doctree
docs/docs/_build/doctrees/autoapi/matrices/cnot/index.doctree
docs/docs/_build/doctrees/autoapi/matrices/cyclic_permutation/index.doctree
docs/docs/_build/doctrees/autoapi/matrices/fourier/index.doctree
docs/docs/_build/doctrees/autoapi/matrices/gell_mann/index.doctree
docs/docs/_build/doctrees/autoapi/matrices/gen_gell_mann/index.doctree
docs/docs/_build/doctrees/autoapi/matrices/gen_pauli/index.doctree
docs/docs/_build/doctrees/autoapi/matrices/hadamard/index.doctree
docs/docs/_build/doctrees/autoapi/matrices/pauli/index.doctree
docs/docs/_build/doctrees/autoapi/matrices/shift/index.doctree
docs/docs/_build/doctrees/autoapi/matrices/standard_basis/index.doctree
docs/docs/_build/doctrees/autoapi/matrix_ops/index.doctree
docs/docs/_build/doctrees/autoapi/matrix_ops/inner_product/index.doctree
docs/docs/_build/doctrees/autoapi/matrix_ops/outer_product/index.doctree
docs/docs/_build/doctrees/autoapi/matrix_ops/tensor/index.doctree
docs/docs/_build/doctrees/autoapi/matrix_ops/unvec/index.doctree
docs/docs/_build/doctrees/autoapi/matrix_ops/vec/index.doctree
docs/docs/_build/doctrees/autoapi/matrix_ops/vectors_from_gram_matrix/index.doctree
docs/docs/_build/doctrees/autoapi/matrix_ops/vectors_to_gram_matrix/index.doctree
docs/docs/_build/doctrees/autoapi/matrix_props/index.doctree
docs/docs/_build/doctrees/autoapi/matrix_props/is_block_positive/index.doctree
docs/docs/_build/doctrees/autoapi/matrix_props/is_circulant/index.doctree
docs/docs/_build/doctrees/autoapi/matrix_props/is_commuting/index.doctree
docs/docs/_build/doctrees/autoapi/matrix_props/is_density/index.doctree
docs/docs/_build/doctrees/autoapi/matrix_props/is_diagonal/index.doctree
docs/docs/_build/doctrees/autoapi/matrix_props/is_diagonally_dominant/index.doctree
docs/docs/_build/doctrees/autoapi/matrix_props/is_hermitian/index.doctree
docs/docs/_build/doctrees/autoapi/matrix_props/is_idempotent/index.doctree
docs/docs/_build/doctrees/autoapi/matrix_props/is_identity/index.doctree
docs/docs/_build/doctrees/autoapi/matrix_props/is_linearly_independent/index.doctree
docs/docs/_build/doctrees/autoapi/matrix_props/is_normal/index.doctree
docs/docs/_build/doctrees/autoapi/matrix_props/is_orthonormal/index.doctree
docs/docs/_build/doctrees/autoapi/matrix_props/is_permutation/index.doctree
docs/docs/_build/doctrees/autoapi/matrix_props/is_positive_definite/index.doctree
docs/docs/_build/doctrees/autoapi/matrix_props/is_positive_semidefinite/index.doctree
docs/docs/_build/doctrees/autoapi/matrix_props/is_projection/index.doctree
docs/docs/_build/doctrees/autoapi/matrix_props/is_square/index.doctree
docs/docs/_build/doctrees/autoapi/matrix_props/is_symmetric/index.doctree
docs/docs/_build/doctrees/autoapi/matrix_props/is_totally_positive/index.doctree
docs/docs/_build/doctrees/autoapi/matrix_props/is_unitary/index.doctree
docs/docs/_build/doctrees/autoapi/matrix_props/kp_norm/index.doctree
docs/docs/_build/doctrees/autoapi/matrix_props/majorizes/index.doctree
docs/docs/_build/doctrees/autoapi/matrix_props/sk_norm/index.doctree
docs/docs/_build/doctrees/autoapi/matrix_props/trace_norm/index.doctree
docs/docs/_build/doctrees/autoapi/measurement_ops/index.doctree
docs/docs/_build/doctrees/autoapi/measurement_ops/measure/index.doctree
docs/docs/_build/doctrees/autoapi/measurement_props/index.doctree
docs/docs/_build/doctrees/autoapi/measurement_props/is_povm/index.doctree
docs/docs/_build/doctrees/autoapi/nonlocal_games/index.doctree
docs/docs/_build/doctrees/autoapi/nonlocal_games/extended_nonlocal_game/index.doctree
docs/docs/_build/doctrees/autoapi/nonlocal_games/nonlocal_game/index.doctree
docs/docs/_build/doctrees/autoapi/nonlocal_games/quantum_hedging/index.doctree
docs/docs/_build/doctrees/autoapi/nonlocal_games/xor_game/index.doctree
docs/docs/_build/doctrees/autoapi/perms/index.doctree
docs/docs/_build/doctrees/autoapi/perms/antisymmetric_projection/index.doctree
docs/docs/_build/doctrees/autoapi/perms/perfect_matchings/index.doctree
docs/docs/_build/doctrees/autoapi/perms/perm_sign/index.doctree
docs/docs/_build/doctrees/autoapi/perms/permutation_operator/index.doctree
docs/docs/_build/doctrees/autoapi/perms/permute_systems/index.doctree
docs/docs/_build/doctrees/autoapi/perms/swap/index.doctree
docs/docs/_build/doctrees/autoapi/perms/swap_operator/index.doctree
docs/docs/_build/doctrees/autoapi/perms/symmetric_projection/index.doctree
docs/docs/_build/doctrees/autoapi/perms/unique_perms/index.doctree
docs/docs/_build/doctrees/autoapi/rand/index.doctree
docs/docs/_build/doctrees/autoapi/rand/random_circulant_gram/index.doctree
docs/docs/_build/doctrees/autoapi/rand/random_density_matrix/index.doctree
docs/docs/_build/doctrees/autoapi/rand/random_ginibre/index.doctree
docs/docs/_build/doctrees/autoapi/rand/random_povm/index.doctree
docs/docs/_build/doctrees/autoapi/rand/random_state_vector/index.doctree
docs/docs/_build/doctrees/autoapi/rand/random_states/index.doctree
docs/docs/_build/doctrees/autoapi/rand/random_unitary/index.doctree
docs/docs/_build/doctrees/autoapi/state_metrics/index.doctree
docs/docs/_build/doctrees/autoapi/state_metrics/bures_angle/index.doctree
docs/docs/_build/doctrees/autoapi/state_metrics/bures_distance/index.doctree
docs/docs/_build/doctrees/autoapi/state_metrics/fidelity/index.doctree
docs/docs/_build/doctrees/autoapi/state_metrics/fidelity_of_separability/index.doctree
docs/docs/_build/doctrees/autoapi/state_metrics/helstrom_holevo/index.doctree
docs/docs/_build/doctrees/autoapi/state_metrics/hilbert_schmidt/index.doctree
docs/docs/_build/doctrees/autoapi/state_metrics/hilbert_schmidt_inner_product/index.doctree
docs/docs/_build/doctrees/autoapi/state_metrics/matsumoto_fidelity/index.doctree
docs/docs/_build/doctrees/autoapi/state_metrics/sub_fidelity/index.doctree
docs/docs/_build/doctrees/autoapi/state_metrics/trace_distance/index.doctree
docs/docs/_build/doctrees/autoapi/state_ops/index.doctree
docs/docs/_build/doctrees/autoapi/state_ops/pure_to_mixed/index.doctree
docs/docs/_build/doctrees/autoapi/state_ops/schmidt_decomposition/index.doctree
docs/docs/_build/doctrees/autoapi/state_opt/index.doctree
docs/docs/_build/doctrees/autoapi/state_opt/optimal_clone/index.doctree
docs/docs/_build/doctrees/autoapi/state_opt/ppt_distinguishability/index.doctree
docs/docs/_build/doctrees/autoapi/state_opt/state_distinguishability/index.doctree
docs/docs/_build/doctrees/autoapi/state_opt/state_exclusion/index.doctree
docs/docs/_build/doctrees/autoapi/state_opt/state_helper/index.doctree
docs/docs/_build/doctrees/autoapi/state_opt/symmetric_extension_hierarchy/index.doctree
docs/docs/_build/doctrees/autoapi/state_props/index.doctree
docs/docs/_build/doctrees/autoapi/state_props/concurrence/index.doctree
docs/docs/_build/doctrees/autoapi/state_props/entanglement_of_formation/index.doctree
docs/docs/_build/doctrees/autoapi/state_props/has_symmetric_extension/index.doctree
docs/docs/_build/doctrees/autoapi/state_props/in_separable_ball/index.doctree
docs/docs/_build/doctrees/autoapi/state_props/is_antidistinguishable/index.doctree
docs/docs/_build/doctrees/autoapi/state_props/is_distinguishable/index.doctree
docs/docs/_build/doctrees/autoapi/state_props/is_ensemble/index.doctree
docs/docs/_build/doctrees/autoapi/state_props/is_mixed/index.doctree
docs/docs/_build/doctrees/autoapi/state_props/is_mutually_orthogonal/index.doctree
docs/docs/_build/doctrees/autoapi/state_props/is_mutually_unbiased_basis/index.doctree
docs/docs/_build/doctrees/autoapi/state_props/is_npt/index.doctree
docs/docs/_build/doctrees/autoapi/state_props/is_ppt/index.doctree
docs/docs/_build/doctrees/autoapi/state_props/is_product/index.doctree
docs/docs/_build/doctrees/autoapi/state_props/is_pure/index.doctree
docs/docs/_build/doctrees/autoapi/state_props/is_separable/index.doctree
docs/docs/_build/doctrees/autoapi/state_props/is_unextendible_product_basis/index.doctree
docs/docs/_build/doctrees/autoapi/state_props/l1_norm_coherence/index.doctree
docs/docs/_build/doctrees/autoapi/state_props/log_negativity/index.doctree
docs/docs/_build/doctrees/autoapi/state_props/negativity/index.doctree
docs/docs/_build/doctrees/autoapi/state_props/purity/index.doctree
docs/docs/_build/doctrees/autoapi/state_props/schmidt_rank/index.doctree
docs/docs/_build/doctrees/autoapi/state_props/sk_vec_norm/index.doctree
docs/docs/_build/doctrees/autoapi/state_props/test_is_distinguishable/index.doctree
docs/docs/_build/doctrees/autoapi/state_props/von_neumann_entropy/index.doctree
docs/docs/_build/doctrees/autoapi/states/index.doctree
docs/docs/_build/doctrees/autoapi/states/basis/index.doctree
docs/docs/_build/doctrees/autoapi/states/bb84/index.doctree
docs/docs/_build/doctrees/autoapi/states/bell/index.doctree
docs/docs/_build/doctrees/autoapi/states/brauer/index.doctree
docs/docs/_build/doctrees/autoapi/states/breuer/index.doctree
docs/docs/_build/doctrees/autoapi/states/chessboard/index.doctree
docs/docs/_build/doctrees/autoapi/states/domino/index.doctree
docs/docs/_build/doctrees/autoapi/states/gen_bell/index.doctree
docs/docs/_build/doctrees/autoapi/states/ghz/index.doctree
docs/docs/_build/doctrees/autoapi/states/gisin/index.doctree
docs/docs/_build/doctrees/autoapi/states/horodecki/index.doctree
docs/docs/_build/doctrees/autoapi/states/isotropic/index.doctree
docs/docs/_build/doctrees/autoapi/states/max_entangled/index.doctree
docs/docs/_build/doctrees/autoapi/states/max_mixed/index.doctree
docs/docs/_build/doctrees/autoapi/states/mutually_unbiased_basis/index.doctree
docs/docs/_build/doctrees/autoapi/states/pusey_barrett_rudolph/index.doctree
docs/docs/_build/doctrees/autoapi/states/singlet/index.doctree
docs/docs/_build/doctrees/autoapi/states/tile/index.doctree
docs/docs/_build/doctrees/autoapi/states/trine/index.doctree
docs/docs/_build/doctrees/autoapi/states/w_state/index.doctree
docs/docs/_build/doctrees/autoapi/states/werner/index.doctree
