[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
black = "*"
flake8 = "*"
flake8-docstrings = "*"
nose = "*"
mypy = "*"
pylint = "*"
coverage = "*"
coveralls = "*"

[packages]
cvx = "*"
cvxpy = {git = "https://github.com/cvxgrp/cvxpy"}
numpy = "*"
picos = "*"
scipy = "*"
scikit-image = "*"
black = "*"

[requires]
python_version = "3.7"
