[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
flake8 = "*"
flake8-docstrings = "*"
nose = "*"
mypy = "*"
pylint = "*"
coverage = "*"
coveralls = "*"

[packages]
cvx = "*"
cvxpy = {editable = true,git = "https://github.com/cvxgrp/cvxpy.git"}
numpy = "*"
picos = "*"
scipy = "*"
scikit-image = "*"

[requires]
python_version = "3.7"
