[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]

[packages]
coverage = "*"
nose = "*"
numpy = "*"
sympy = "*"
picos = "*"
cvx = "*"
cvxpy = {editable = true,git = "https://github.com/cvxgrp/cvxpy"}
skimage = "*"
scikit-image = "*"

[requires]
python_version = "3.7"
