
[tool.poetry]
name = "toqito"
version = "1.0.7"
description = "Python tools for the study of quantum information."
authors = [
    "Toqito Contributors <https://github.com/vprusso/toqito/graphs/contributors>"
]
maintainers = [
    "Toqito Contributors <https://github.com/vprusso/toqito/graphs/contributors>"
]
readme = "README.md"
homepage = "https://vprusso.github.io/toqito/"
repository = "https://github.com/vprusso/toqito"
keywords = ["quantum information", "quantum computing", "nonlocal games"]


[tool.poetry.dependencies]
python = ">=3.10,<4"
cvxpy = "1.4.2"
cvxopt = "1.3.2"
more-itertools = "10.2.0"
numpy = "1.26.3"
scipy = "1.12.0"
scs = "3.2.4.post1"
picos = "2.4.17"
qiskit = "0.46.0"

[tool.poetry.dev-dependencies]
distlib = "0.3.8"
flake8 = "7.0.0"
flake8-docstrings = "1.7.0"
ipython = "8.21.0"
isort = "5.13.2"
myst-parser = "2.0.0"
pep8 = "1.7.1"
ruff = "0.2.1"
pylint = "3.0.3"
pytest = "8.0.0"
pytest-cov = "4.1.0"
coverage = "7.4.1"
mypy = "1.8.0"
setuptools = ">65.5.1"
sphinx = "7.2.6"
sphinx_rtd_theme = "2.0.0"
sphinxcontrib-bibtex = "2.6.2"
sphinx-autoapi = "3.0.0"
sympy = "1.12"


[build-system]
requires = ["setuptools","poetry>=0.12"]
build-backend = "poetry.masonry.api"

[tool.ruff]
# exclude = ["__init__.py"]
line-length = 120
target-version = "py311"

[tool.ruff.lint]
select = ["I", "E", "W", "D", "PL"]
# ruff configuration
# E, W -- pycodestyle
# D -- pydocstyle
# I -- isort
# PL -- pylint

# Rules considered over other incompatible ones
exclude = ["docs/conf.py", "setup.py"]

ignore = ["D407", "D203", "D213", "D416", "PLR0912", "PLR0911", "PLR0915", "PLR2004", "PLR0913"]
# Rules Ignored

# D407 - Ignored because ==== under a section heading is considered as a missing underline.
# pydocstyle considers ----- an underline.

# D212 and D211 specially selected due to following incompatibilities
# warning: `one-blank-line-before-class` (D203) and `no-blank-line-before-class` (D211) are incompatible. Ignoring `one-blank-line-before-class`.
# warning: `multi-line-summary-first-line` (D212) and `multi-line-summary-second-line` (D213) are incompatible. Ignoring `multi-line-summary-second-line`.

# D416 was adding a semicolon after some section headings when ruff's automated --fix was was used
# As this was not added evenly after all section headings, we ignore this. 

# PLR0912 -- Checks for functions or methods with too many branches. The default number is 12. 
# PLR0911 -- Checks for functions or methods with too many return statements. The default number is 6.
# PLR0915 -- Checks for functions or methods with too many statements. The default number is 50. 
# PLR2004 -- Checks if an equality or an inequality is compared to a variable or a num (prefers variable pre)
# PLR0913 Too many arguments in function definition

[tool.ruff.lint.per-file-ignores]
"__init__.py" = ["I001"]
# I001 - skip checking Import block is un-sorted or un-formatted

