#sphinx-rtd-theme == 2.0.0rc4 # this version is temporary due to docutils version incompatibility with
# sphinx, sphinx_rtd_theme and sphinxcontrib-bibtex
pydata-sphinx-theme  == 0.15.1
sphinxcontrib-bibtex == 2.6.1
sympy == 1.12