/* Hide default logo in header */
a.logo.navbar-brand {
    display: none;
}

/* Hide 'Source' and 'Edit on GitHub' for now */
/* TODO: Figure out how to hide just 'view source' */
a.btn.btn-sm.btn-light.text-decoration-none {
    display: none;
}

/* Hide default options in footer */
ul.nav.justify-content-center.mb-2 {
    display: none;
}

/* Don't show nav bar for default screen sizes */
div.navbar.navbar-expand-lg.navbar-dark.font-weight-bold {
    display: none;
}

/* Styles for mobile screens (less than 820px width) support up to an ipad air.
   This will display a navbar for mobile users with a hamburger menu for easier navigation.
*/
@media (max-width: 820px) {
    div.navbar.navbar-expand-lg.navbar-dark.font-weight-bold {
        display: block;
    }

}