name: Deploy Documentation

on:
  push:
    branches: 
      -  master
    paths:
      - "docs/**"
      - ".github/workflows/docs.yml"
  workflow_dispatch:

permissions:
  contents: write

jobs:
  docs:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout repository
        uses: actions/checkout@v6

      - name: Set up Python
        uses: actions/setup-python@v6
        with:
          python-version: "3.12"

      - name: Install system dependencies for BLAS/LAPACK
        run: |
          sudo apt-get update
          sudo apt-get install -y libblas-dev liblapack-dev gfortran libatlas-base-dev
      - name: Install uv
        run: astral-sh/setup-uv@v5

      - name: Install documentation dependencies
        run: uv sync --group docs

      - name: Build Sphinx documentation
        run: |
          cd docs
          uv run make html

      - name: Deploy to GitHub Pages
        uses: peaceiris/actions-gh-pages@v4
        with:
          github_token: ${{ secrets.GITHUB_TOKEN }}
          publish_dir: docs/_build/html
