name: check-docs

on:
  pull_request:
  # https://docs.github.com/en/actions/using-workflows/events-that-trigger-workflows#pull_request
    types: [opened, reopened, converted_to_draft, ready_for_review, synchronize]
    branches:
      - master
  push:
    branches:
    # https://docs.github.com/en/actions/using-workflows/events-that-trigger-workflows#running-your-workflow-only-when-a-push-to-specific-branches-occurs
        - master

jobs:
  doc-examples:
    strategy:
      matrix:
          # Add versions here to expand support matrix
        python-version: ["3.10", "3.11", "3.12"]
        os: [ubuntu-latest]
    runs-on: ${{ matrix.os }}
    env:
      PYTHON: ${{ matrix.python-version }}
    steps:
      - uses: actions/checkout@v4
      - name: Set up Python ${{ matrix.python-version }}
        uses: actions/setup-python@v5
        with:
          python-version: ${{ matrix.python-version }}
      - name: Install toqito + dependencies
        run: |
          python -m pip install --upgrade --no-cache-dir pip
          pip install poetry
          poetry install --with docs,dev --without lint --no-interaction
      - name: Check docstring examples
        run: |
            cd docs
            poetry run make html
            poetry run make doctest