adjustText==0.8
affine==2.4.0
alabaster==0.7.13
apt-clone==0.2.1
apturl==0.5.2
arcade==2.6.17
astroid==2.15.2
attrs==22.2.0
Babel==2.12.1
beautifulsoup4==4.10.0
black==23.1.0
bleach==6.0.0
blinker==1.4
Brlapi==0.8.3
ccsm==0.9.14.1
censusdis==0.13.3
certifi==2020.6.20
cffi==1.15.1
chardet==4.0.0
charset-normalizer==3.1.0
cliapp==1.20180812.1
click==8.1.3
click-plugins==1.1.1
cligj==0.7.2
cmdtest==0.32+git
colorama==0.4.4
command-not-found==0.3
compizconfig-python==0.9.14.1
configobj==5.0.6
contextily==1.3.0
contourpy==1.0.7
cryptography==3.4.8
cupshelpers==1.0
cycler==0.11.0
dbus-python==1.2.18
defer==1.0.6
defusedxml==0.7.1
dill==0.3.6
distro==1.7.0
divintseg==0.4.1
docopt==0.6.2
docutils==0.18.1
eyeD3==0.8.10
fastjsonschema==2.16.3
filelock==3.6.0
Fiona==1.9.3
flake8==6.0.0
flake8-html==0.4.3
fonttools==4.39.3
genbadge==1.1.0
geographiclib==2.0
geopandas==0.12.2
geopy==2.3.0
gpg===1.16.0-unknown
grpcio==1.30.2
haversine==2.8.0
httplib2==0.20.2
idna==3.3
ifaddr==0.1.7
imagesize==1.4.1
IMDbPY==2021.4.18
importlib-metadata==4.6.4
isort==5.12.0
jeepney==0.7.1
Jinja2==3.1.2
joblib==1.2.0
jsonschema==4.17.3
jupyter_client==8.2.0
jupyter_core==5.3.0
jupyterlab-pygments==0.2.2
kazam==1.4.5
keyring==23.5.0
kiwisolver==1.4.4
launchpadlib==1.10.16
lazr.restfulclient==0.14.4
lazr.uri==1.0.6
lazy-object-proxy==1.9.0
louis==3.20.0
Mako==1.1.3
Markdown==3.3.6
MarkupSafe==2.0.1
matplotlib==3.7.1
mccabe==0.7.0
mercantile==1.2.1
mistune==2.0.5
mock==5.0.2
more-itertools==8.10.0
munch==2.5.0
mypy-extensions==1.0.0
natsort==8.0.2
nbclient==0.7.4
nbconvert==7.3.1
nbformat==5.8.0
nbsphinx==0.8.12
netaddr==0.8.0
netifaces==0.11.0
numpy==1.24.3
oauthlib==3.2.0
onboard==1.4.1
packaging==23.0
pandas==1.5.3
pandocfilters==1.5.0
pathspec==0.11.0
pexpect==4.8.0
Pillow==9.3.0
pipreqs==0.4.13
platformdirs==3.0.0
protobuf==3.12.4
psutil==5.9.0
ptyprocess==0.7.0
pycairo==1.20.1
pycodestyle==2.10.0
pycparser==2.21
pycups==2.0.1
pycurl==7.44.1
pyelftools==0.27
pyflakes==3.0.1
pyglet==2.0.dev23
Pygments==2.15.1
PyGObject==3.42.1
PyICU==2.8.1
PyJWT==2.3.0
pylint==2.17.2
pymunk==6.4.0
PyNaCl==1.5.0
pyparsing==2.4.7
pyparted==3.11.7
pyproj==3.4.1
PyQt5==5.15.6
PyQt5-sip==12.9.1
pyrsistent==0.19.3
PySocks==1.7.1
python-apt==2.4.0
python-dateutil==2.8.2
python-debian===0.1.43ubuntu1
python-magic==0.4.24
python-xapp==2.2.2
python-xlib==0.29
pytiled-parser==2.2.0
pytz==2023.3
pyxdg==0.27
PyYAML==5.4.1
pyzmq==25.0.2
rasterio==1.3.6
reportlab==3.6.8
requests==2.29.0
requests-file==1.5.1
Rtree==1.0.1
SecretStorage==3.3.1
setproctitle==1.2.2
shapely==2.0.1
six==1.16.0
snowballstemmer==2.2.0
snuggs==1.4.7
soupsieve==2.3.1
Sphinx==6.2.1
sphinx-rtd-theme==1.2.0
sphinxcontrib-applehelp==1.0.4
sphinxcontrib-devhelp==1.0.2
sphinxcontrib-htmlhelp==2.0.1
sphinxcontrib-jquery==4.1
sphinxcontrib-jsmath==1.0.1
sphinxcontrib-qthelp==1.0.3
sphinxcontrib-serializinghtml==1.1.5
systemd-python==234
tinycss2==1.2.1
tldextract==3.1.2
toml==0.10.2
tomli==2.0.1
tomlkit==0.11.7
tornado==6.3.1
traitlets==5.9.0
ttystatus==0.38
typing_extensions==4.5.0
tzdata==2023.3
ubuntu-drivers-common==0.0.0
ufw==0.36.1
Unidecode==1.3.3
urllib3==1.26.5
wadllib==1.3.6
webencodings==0.5.1
wrapt==1.15.0
wxPython==4.0.7
xdg==5
xkit==0.0.0
xyzservices==2023.2.0
yarg==0.1.9
youtube-dl==2021.12.17
zipp==1.0.0
